.card {
  width: 23rem;
  height: 30rem;
  background-color: white;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__img {
  overflow: hidden;
  border-radius: 1rem;
  width: 20rem;
  height: 17rem;
}

.card__img img {
  width: 100%;
  height: 100%;
}

.card__text {
  margin-top: 1rem;
  width: 20rem;
}

.card__text h3 {
  color: #e8b284;
  font-size: 1.5rem;
}

.card__text p {
  color: rgba(0, 0, 0, 0.7);
  font-style: italic;
  margin-top: 1.5rem;
  font-weight: 700;
  line-height: 1.6;
}
