.intro {
  background: url(../../assets/img/vbvbvb-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.intro_container {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.intro_container h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.intro_container p {
  width: 50rem;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.intro_container .btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.btn-group button {
  padding: 1rem 3rem;
  font-weight: 900;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}

.btn-group button:first-child {
  background-color: var(--ORANGE);
  color: white;
}
.btn-group button:first-child:hover {
  background-color: #c96b19;
}

.btn-group button:nth-child(2) {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}
.btn-group button:nth-child(2):hover {
  background-color: white;
  color: var(--DARK);
}

@media screen and (max-width: 768px) {
  .intro_container h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    width: 25rem;
    text-align: center;
  }

  .intro_container p {
    width: 25rem;
  }

  .btn-group {
    flex-direction: column;
  }
}
