@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --ORANGE: #e2781a;
  /* --ORANGE: #e2781a; */
  --DARK: #1b1c1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

section {
  position: relative;
  overflow: hidden;
}
